@using Microsoft.AspNetCore.Http
@model BasicBoard.Models.Board
@{
    ViewData["Title"] = "Delete Page";
}

<h1>게시물 삭제</h1>
<h2>정말로 이 게시물을 삭제하시겠습니까?</h2>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">상세 읽기 - @Model.BoardTitle</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>제목</label> @Model.BoardTitle
            </div>
            <div class="panel-body">
                <label>내용</label>
                @Html.Raw(Model.BoardContent)
            </div>
        </div>
        <div class="panel-footer text-right">
            @if (Context.Session.GetInt32("USER_LOGIN_KEY") == @Model.UserNo)
            {
                <form name="frm" asp-controller="Board" asp-action="Delete" method="POST" onsubmit="return false">
                    <input type="hidden" asp-for="BoardNo" />
                    <input type="submit" value="게시물 삭제" class="btn btn-danger"/>
                    <a class="btn btn-primary" asp-controller="Board" asp-action="Index">목록으로 돌아가기</a>
                </form>
               
            }
            else
            {
                <a class="btn btn-primary" asp-controller="Board" asp-action="Index">목록으로 돌아가기</a>
            }
        </div>
    </div>
</div>

<script>

    let deleteBtn = document.querySelector(".btn-danger");
    deleteBtn.onclick = function () {
        let result = confirm("해당 게시물을 정말로 삭제하시겠습니까? 복구가 불가능합니다.");

        if (result) {
            document.frm.submit();
        }
    }
</script>