@model BasicBoard.Models.FindPassword;
@{
    ViewData["Title"] = "FindPassword";
    string msg = ViewData["msg"] as string;
}

<h1>비밀번호 찾기</h1>

<div class="container">
    @if (!string.IsNullOrWhiteSpace(msg))
    {
        <div class="alert alert-danger">@msg</div>
    }

    <form id="changePwd" class="form-horizontal" asp-controller="Account" asp-action="ChangePassword" method="POST">

        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control userPassword" asp-for="UserPassword" placeholder="비밀번호를 입력해주세요." />
            <span class="text-danger" asp-validation-for="UserPassword"></span>
        </div>

        <div class="form-group">
            <label>비밀번호 확인</label>
            <input type="password" class="form-control confirmedPassword" asp-for="ConfirmedPassword" placeholder="비밀번호를 입력해주세요." />
            <span class="text-danger" asp-validation-for="ConfirmedPassword"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary change_Btn">확인</button>
            <a class="btn btn-warning" asp-controller="Home" asp-action="Index">취소</a>
        </div>
    </form>
</div>

<script>
    $(".change_Btn").on("click", function (e) {
        e.preventDefault(); //전송 막기

        var userPassword = $(".userPassword").val(); //비밀번호 값
        var confirmedPassword = $(".confirmedPassword").val(); //비밀번호 확인 값

        if (userPassword != confirmedPassword) {
            alert("비밀번호가 서로 일치하지 않습니다.");
        } else {
            //비밀번호가 서로 일치하면 전송
            $("#changePwd").submit();
        }
    });
</script>