@model BasicBoard.Models.FindPassword;
@{
    ViewData["Title"] = "FindPassword";
    string msg = ViewData["msg"] as string;
}

<h1>비밀번호 찾기</h1>

<div class="container">
    @if (!string.IsNullOrWhiteSpace(msg))
    {
        <div class="alert alert-danger">@msg</div>
    }

<form class="form-horizontal" asp-controller="Account" asp-action="FindPassword" method="POST">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" asp-for="UserEmail" placeholder="인증번호를 받을 이메일을 입력해주세요." />
        <span class="text-danger" asp-validation-for="UserEmail"></span>
    </div>

    <button type="submit" class="btn btn-primary">인증번호 받기</button>
</form>

    <form class="form-horizontal" asp-controller="Account" asp-action="FindPassword" method="POST">
        <div class="form-group">
            <label>인증번호</label>
            <input type="text" class="form-control" asp-for="VerifyCode" placeholder="인증번호를 입력해주세요." />
            <span class="text-danger" asp-validation-for="VerifyCode"></span>
        </div>

        @*    <div class="form-group">
                <label>비밀번호</label>
                <input type="password" class="form-control" asp-for="UserPassword" placeholder="비밀번호를 입력해주세요." />
                <span class="text-danger" asp-validation-for="UserPassword"></span>
            </div>

            <div class="form-group">
                <label>비밀번호 확인</label>
                <input type="password" class="form-control"  asp-for="ConfirmedPassword" placeholder="비밀번호를 입력해주세요." />
                <span class="text-danger" asp-validation-for="ConfirmedPassword"></span>
            </div>*@

        <div class="form-group">
            <button type="submit" class="btn btn-primary">확인</button>
            <a class="btn btn-warning" asp-controller="Home" asp-action="Index">취소</a>
        </div>
    </form>
</div>