@model BasicBoard.Models.FindPassword;
@{
    ViewData["Title"] = "FindPassword";
    string verifyCode = ViewData["verifyCode"] as string;
    string msg = ViewData["msg"] as string;
    string failMsg = ViewData["fail"] as string;
}

<h1>비밀번호 찾기</h1>

<div class="container">
    @if (!string.IsNullOrWhiteSpace(msg))
    {
        <div class="alert alert-danger">@msg</div>
    }

    <form class="form-horizontal" asp-controller="Account" asp-action="FindPassword" method="POST">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" asp-for="UserEmail" placeholder="가입했던 이메일을 입력해주세요." />
            <span class="text-danger" asp-validation-for="UserEmail"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">인증번호 받기</button>
        </div>
    </form>

    <form id="verifyCode" class="form-horizontal" asp-controller="Account" asp-action="FindPassword" method="POST">
        <div class="form-group">
            <label>인증번호</label>
            <input type="text" class="form-control VerifyCode" asp-for="VerifyCode" placeholder="인증번호를 입력해주세요." />
            <span class="text-danger" asp-validation-for="VerifyCode"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary verifyCode_Btn">확인</button>
            <a class="btn btn-warning" asp-controller="Home" asp-action="Index">취소</a>
        </div>
    </form>
</div>


<script>
    var verifyCode = '@verifyCode';

    if (verifyCode != "") {

        alert("인증번호가 발송되었습니다.");
    }

    if ("@failMsg" != "") {
        alert("해당 이메일은 가입정보에 존재하지 않습니다.");
    }

    $(".verifyCode_Btn").on("click", function (e) {
        e.preventDefault(); //동작 막기

        if (verifyCode == $(".VerifyCode").val()) {
            $("#verifyCode").submit();
        }else{
            alert("인증번호가 일치하지 않습니다.");
        }
    });
</script>